/*==================================
Self hosted fonts
==================================*/
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/work-sans-v19-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/work-sans-v19-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/work-sans-v19-latin-700.woff2") format("woff2"),
    url("../assets/fonts/work-sans-v19-latin-700.ttf") format("truetype");
}

/*==================================
Variables
==================================*/
:root {
  /* colors */
  --primary-1: #d0e3ff;
  --primary-2: #6f819b;
  --primary-3: #43556d;
  --accent-1: #f8c2bd;
  --accent-2: #5a2a28;
  --bg-1: #475665;
  --bg-2: #2e3d4b;
  --bg-3: #1e2d3b;
  --text-1: #ffffff;
  --text-2: #e0e0e0;
  /* typography */
  --heading-height: 1.15;
  --regular: 400;
  --bold: 700;
  /* spacing */
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-32: 32px;
  --space-36: 36px;
  --space-40: 40px;
  /* border radius */
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-full: 9999px;
}

/*==================================
Typography
==================================*/
h1,
h2,
h3 {
  line-height: var(--heading-height);
}

h1,
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.small {
  font-size: 0.875rem;
}

.x-small {
  font-size: 0.75rem;
}

/*==================================
Global styles
==================================*/
body {
  background: var(--bg-3);
  color: var(--text-1);
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

:focus-visible {
  outline-color: var(--bg-3);
  outline-offset: var(--space-4);
}

/*==================================
Wrappers
==================================*/
.page-wrapper {
  max-width: 1064px;
  margin: 0 auto;
  padding: var(--space-20);
}

.component-wrapper {
  border: 1px solid var(--bg-2);
  border-radius: var(--radius-10);
  box-shadow: 0px 0px 3px 0px var(--bg-2);
  padding: var(--space-20);
}

@media (min-width: 48em) {
  .page-wrapper {
    display: flex;
    gap: var(--space-20);
  }
}

/*==================================
Bio
==================================*/
.bio__profile {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  margin-bottom: var(--space-12);
}

.bio__profile-left {
  width: 25%;
  max-width: 4rem;
}

.bio__image {
  border: 1px solid var(--bg-2);
  border-radius: var(--radius-full);
  padding: var(--space-4);
}

.bio__title {
  margin-bottom: var(--space-4);
}

.bio__subtitle,
.bio__description {
  color: var(--text-2);
}

.bio__profile-right {
  width: 75%;
}

.bio__description {
  margin-bottom: var(--space-20);
}

.bio__links {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

@media (min-width: 48em) {
  .bio__profile {
    flex-direction: column;
  }

  .bio__profile-left {
    width: 100%;
    max-width: unset;
  }

  .bio__profile-right {
    width: 100%;
  }
}

/*==================================
Button
==================================*/
.button {
  background: var(--bg-1);
  color: var(--text-1);
  display: inline-block;
  padding: var(--space-8);
  border-radius: var(--radius-6);
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: var(--bold);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background 0.2s;
}

.button:hover,
.button:focus {
  background: var(--bg-2);
}

/*==================================
Link
==================================*/
.link {
  color: var(--text-2);
  display: flex;
  align-items: center;
  gap: var(--space-4);
  transition: color 0.2s;
}

.link:hover,
.link:focus,
.link__icon {
  color: var(--text-1);
}

/*==================================
Divider
==================================*/
.divider {
  background: var(--bg-2);
  border: 0;
  height: 2px;
  margin: var(--space-20) 0;
}

/*==================================
Skills
==================================*/
.skills__title {
  margin-bottom: var(--space-16);
}

.skills__badges {
  display: flex;
  gap: var(--space-8);
  flex-wrap: wrap;
}

/*==================================
Badge
==================================*/
.badge {
  background: var(--accent-1);
  color: var(--accent-2);
  padding: var(--space-4) var(--space-8);
  border-radius: var(--radius-full);
  font-weight: var(--bold);
}

/*==================================
About
==================================*/
.about__title {
  margin-bottom: var(--space-16);
}

.about__description {
  margin-bottom: var(--space-12);
}

.about__description:last-of-type {
  margin: 0;
}

/*==================================
Layout
==================================*/
.component-wrapper {
  margin-bottom: var(--space-20);
}

.work-experience > .component-wrapper {
  margin: 0;
}

@media (min-width: 48em) {
  .aside {
    width: 30%;
  }

  .main {
    width: 70%;
  }
}
